.message-list-container {
    margin-top: 20px;
}

.message-list {
    list-style-type: none;
    padding: 0;
}

.message-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
}

.message-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.message-to {
    font-size: 1.1em;
}

.message-date {
    font-size: 0.9em;
    color: #777;
}

.message-content {
    margin: 0;
}
